/target
/research/refs/papers/
# pixi environments
.pixi/*
!.pixi/config.toml
# MadGraph generated output
/ee_to_mumu/
/validation/helas/*.so
/validation/helas/reference.*
/validation/madgraph/output
/validation/madgraph/*.so
.claude
.vscode
# TODO: add MCP server setup to pixi.toml ?
.mcp.json
profile.json.gz